body {
  background-color: #343a40;
  background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/66104/gray-background-hd-wallpapers-66104-7424195.png");
  background-size: cover;
}
